@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.pt-36 {
    padding-top: 36px;
}
section{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
}
.number{
font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    text-align: center;
}
.heading{
    font-family: Inter;
        font-size: 36px;
        font-weight: 400;
        line-height: 43.57px;
        text-align: center;
        padding-bottom: 43px;
        color: #808080;
}
.btn-1 {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    border: 2px solid #1279FA;
    color: #1279FA;
    border-radius: 4px;
    cursor: pointer;
}

.btn-2 {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    background: #1279FA;
    border: 2px solid #1279FA;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.value {
    padding-top: 36px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
}
.num{
    font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: center;
        padding-top: 14px;
        color: #808080;
}
.box{
    box-shadow: 0px 11px 44px -10px #00000040;
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 57px;
    padding-bottom: 34px;
    border-radius: 20px;
}
